body{
    background-color:teal;
    overflow-x: hidden;
    padding-bottom: 50px;
}

#pageHeader{
    color: teal;
    text-align: center;
    padding: 8rem 0rem;
    background-color: white;
    margin-bottom: 4rem;
    font-size: 6rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#todoList, #doneList{
    width: 50%;
    border-right: 1px solid whitesmoke;
}

#todoList .listHeader{
    border-top-left-radius: 7px; 
}

#doneList .listHeader{
    border-top-right-radius: 7px; 
}

.listHeader{
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.addField{
    border:2px solid #73DFEC ;
    border-radius: 5px;
    background-color: snow;
}

ul{
    border: 1px solid white;
    width: 70%;
    list-style: none;
    margin: auto;
    padding: 20px 0px;
}

li{
    background-color: white;
    width: 90%;
    margin: auto !important;
    padding: 15px 20px;
    margin-top: 1rem  !important;
    font-size: 2.5rem ;
    border-radius: 5px;
}

li div{
    place-self: center;
}

.btnWrapper{
    padding: 10px;
    margin-top: 0px;
    text-align: right;
}

.btnWrapper button{
    width: fit-content;
    font-size: 2rem;
    padding: 5px 12px;
    border: none;
}

.emptyMsg{
    margin: auto;
    text-align: center;
    color: white;
    margin: 20px 0px;
}

.accountForm ,.createForm{
    width: 40%;
    margin: auto;
    text-align-last: center;
    background-color: whitesmoke;
    padding: 5rem 0rem;
    border-radius: 10px;
}

.accountForm p ,.createForm p{
    width: fit-content;
    margin: auto;
    padding-bottom: 40px;
    font-size: 2rem;
}

.accountForm input ,.createForm input{
    border:none;
    border-bottom:2px solid #73DFEC ;
    border-radius: 5px;
    background-color: snow;
    width:30rem;
    height: 5rem;
}

.formHeader{
    padding-bottom: 50px;
    text-decoration: underline;
}

.acHeader{
    width:15%;
    font-size: 2rem;
    padding: 20px;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.helptext, .createForm ul{
    visibility: hidden;
    display: table-row;
    position: absolute;
}

.createForm input{
    margin:3rem 0rem ;
}
